@font-face { font-family: 'ProstoOne'; src: url('src/assets/fonts/ProstoOne.ttf'); }
@font-face { font-family: 'Raleway'; src: url('src/assets/fonts/RalewayMedium.otf'); font-weight: 500; }
@font-face { font-family: 'Raleway'; src: url('src/assets/fonts/RalewayRegular.otf'); font-weight: 400; }

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: 'Raleway', sans-serif; color: #212526; font-size: 14px; background: #fff; }
a { text-decoration: none; color: inherit; }
ul { list-style: none; }
img { max-width: 100%; display: block; }
button { cursor: pointer; border: none; background: none; font-family: inherit; }
.container { max-width: 1200px; margin: 0 auto; padding: 0 20px; }